body {
  margin-top: 30px;
  font-size: 16px;
  max-width: 770px;
  margin: 0 auto;
  padding-bottom: 40px;
}

main {
  padding: 10px 0px;
  margin-bottom: 30px;
}

body, input, textarea {
  font: 14px Georgia, "Bitstream Charter", serif;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 1.9rem; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.3rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.9rem; }

table {
  text-align: left;
}

img {
  max-width: 100%;
}

header {
  text-align: right;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  background-color: #000;
  color: #fff;
  width: 100%;
}
footer a {
  color: #fff;
  margin: 0px 10px;
  text-decoration: none;
  cursor: pointer;
}
footer a:hover {
  text-decoration: underline;
}

header nav {
  text-align: center;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  border-top: 1px solid #000;
}

header nav a {
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  flex-basis: 15%;
  flex-grow: 1;
  text-decoration: none;
  color: black;
}

header .banner {
  min-height: 200px;
  border: 1px solid black;
  background-image: url('/img/cups.jpg');
  background-size: cover;
}

nav a:hover,
nav a.active {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}


/* Blog Posts */
.entry-image {
  float: right;
  margin: 0 0 25px;
  max-width: 35%;
}
.entry {
  word-wrap: break-word;
  margin-top: 15px;
  margin-bottom: 45px;
}
.entry-body {
  border-top: 2px solid #ddd;
  padding-top: 25px;
}
.entry-title {
  padding-bottom: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  font-size: 1.7rem;
  font-weight: normal;
  line-height: 50px;
}
.entry-meta {
  font-size: 0.7em;
  line-height: 24px;
  padding: 0 0 8px;
  text-transform: uppercase;
}
.entry-content {
  padding-right: 15px;
  line-height: 24px;
}
.entry-ago {
  float: right;
}

.back-link {
  line-height: 50px;
  float: right;
}

/* Contact details */
.contact-address,
.contact-telephone,
.contact-email {
  font-weight: bold;
  font-size: 0.9em;
}
.contact-telephone,
.contact-address,
.contact-map {
  margin: 10px 0px;
}

/* Gallery */
.gallery-list-item {
  min-width: 240px;
  height: 240px;
  line-height: 35px;
  letter-spacing: 1.2px;
  text-align: center;
  margin-bottom: 20px;
  border: 2px solid white;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  color: #FFF;
  position: relative;
}
.gallery-list-item:hover {
  border-color: #ddd;
  opacity: 0.8;
}
.gallery-list-item-title,
.gallery-list-item-meta {
  display: block;
  width: 100%;
  height: 35px;
  background: rgba(0, 0, 0, 0.5);
}
.gallery-list-item-meta {
  position: absolute;
  bottom: 0px;
}
.gallery-images, .gallery-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}
.gallery-item, .gallery-list-item {
  flex-basis: 25%;
}
.gallery-item-title {
  margin-bottom: 10px;
}
.gallery-item-image {
  height: 160px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  border: 2px solid #fff;
}
.gallery-item-image:hover {
  border: 2px solid #ddd;
  opacity: 0.8;
}
